.active_thumb {
	padding-right: 5px;
}

.add_comment_form {
	width: 60%;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}

.article_body {
	padding: 0 20px 20px;
	margin-bottom: 40px;
}

.article_card {
	background-color: white;
}

.article_counters {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	gap: 20px;
}

.article_image {
	width: 100%;
}

.article_info {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin-right: 40px;
}

.article_item {
	background-color: white;
	padding-bottom: 20px;
}

.article_item:hover,
.item:hover,
.show_comments:hover,
.vote_button:hover {
	cursor: pointer;
}

.articles_votes_comments {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: start;
	padding: 0 0 10px;
	margin-bottom: 0;
}

.generic_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	list-style-type: none;
	column-gap: 20px;
	margin: 2px;
	padding-left: 0;
}

body {
	font-family: 'Segoe UI', Arial, sans-serif;
	background-color: rgb(244, 246, 247);
}

.comment_button,
.show_comments {
	all: unset;
	background-color: rgb(65, 63, 63);
	color: white;
	padding: 10px;
}

.comment_button {
	width: 100px;
	margin-top: 10px;
}

.comment_button:hover,
.show_comments:hover {
	background-color: white;
	color: black;
}

.comment_card {
	padding-left: 20px;
	padding-bottom: 5px;
	margin: 0 25% 0 20px;
	background-color: white;
}

.comment_icon {
	padding-right: 7px;
}

.comment_info {
	display: flex;
	justify-content: space-between;
}

.delete_button {
	all: unset;
	padding-right: 30px;
}

.delete_button:hover {
	color: crimson;
	cursor: pointer;
}

.error_text {
	color: crimson;
}

.external_links {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 8px;
}

.icons {
	display: flex;
	gap: 5px;
}

.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 20px;
	margin: 0;
}

.item {
	background-color: white;
	margin-bottom: 15px;
}

.link {
	all: unset;
}

.logged_in_user {
	display: flex;
	align-items: center;
}

.main_page {
	background-color: rgb(244, 246, 247);
}

#nav_bar {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	padding-left: 0;
	background-color: rgb(65, 63, 63);
	color: white;
	margin-top: 0;
}

.news_image {
	width: 100%;
	height: 100%;
}

.thumb {
	padding-right: 7px;
}

.user_avatar {
	border: 1px solid rgb(65, 63, 63);
	border-radius: 100%;
	height: 30px;
	margin-right: 7px;
}

.vote_button {
	all: unset;
}
