body {
	font-family: 'Segoe UI', Arial, sans-serif;
}

#article_list {
	display: grid;
	grid-template-columns: auto auto auto;
	list-style-type: none;
	column-gap: 15px;
	margin: 3em;
}

#nav_bar {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}
