body {
	font-family: 'Segoe UI', Arial, sans-serif;
	background-color: rgb(244, 246, 247);
}

.Header {
	background-color: white;
	padding: 20px;
	margin: 0px;
}

#article_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	list-style-type: none;
	column-gap: 20px;
	margin: 2px;
	padding-left: 0px;
}

.article_item {
	background-color: white;
	margin-bottom: 15px;
}
.articles_votes_comments {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: start;
	padding-left: 0px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.thumb_up {
	padding-right: 5px;
}

.comment_icon {
	padding-right: 5px;
}

#nav_bar {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	padding-left: 0px;
	background-color: rgb(65, 63, 63);
	color: white;
	margin-top: 0px;
}

.news_image {
	width: 100%;
	height: 100%;
}

.article_link {
	all: unset;
}

.article_image {
	width: 100%;
}

.article_info {
	display: flex;
	justify-content: flex-start;
	justify-content: space-between;
	list-style-type: none;
	margin-right: 40px;
}

.article_counters {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	gap: 20px;
}
