body {
	font-family: 'Segoe UI', Arial, sans-serif;
}

#article_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	list-style-type: none;
	column-gap: 20px;
	margin: 1em;
	padding-left: 0px;
}

#nav_bar {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	padding-left: 0px;
}

.news_image {
	width: 100%;
	height: 100%;
}

.article_link {
	all: unset;
}
